<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>Cadastro</title>
</head>

<body>
    <div class="formulario">
        <form action="/cadastro" method="POST">
            <div class="mensagem">
                {% for categoria, mensagem in get_flashed_messages(with_categories=True) %}
                <div class="alert {{ categoria }}">
                    {{ mensagem }}
                </div>
                {% endfor %}
            </div>
            <div class="grupo-input">
                <input type="text" name="nome" placeholder="nome" id="nome" required> <br>
                <input type="password" name="senha" placeholder="senha" required> <br>
            </div>
            <button type="submit" class="botao-cadastrar">Cadastrar</button>
        </form>
    </div>
</body>

</html>