<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>

    {% for categoria, mensagem in get_flashed_messages(with_categories=True) %}
    <div class="alert {{ categoria }}">
        {{ mensagem }}
    </div>
    {% endfor %}

    <form action="/cadastro" method="POST">
        <input type="text" name="nome" placeholder="nome"> <br>
        <input type="password" name="senha" placeholder="senha"> <br>
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>