<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Entrar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='spinner.css') }}" />
  </head>
  <body>
    <div class="login-container">
      <h1>Login do Professor</h1>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="message {{ category }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <form method="POST" action="{{ url_for('entrar') }}">
        <label for="login">Email ou CPF:</label>
        <input type="text" id="login" name="login" required />

        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required />

        <button type="submit">Entrar</button>
      </form>
    </div>
  </body>
</html>
